@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:root {
  --normal: #aa9;
  --fire: #f42;
  --grass: #7c5;
  --poison: #a59;
  --water: #39f;
  --electric: #fc3;
  --ice: #6cf;
  --fighting: #b54;
  --ground: #db5;
  --flying: #89f;
  --psychic: #f59;
  --bug: #ab2;
  --rock: #ba6;
  --ghost: #66b;
  --dragon: #76e;
  --dark: #222;
  --steel: #aab;
  --fairy: #e9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    135deg,
    hsl(103deg 77% 78%) 0%,
    hsl(115deg 69% 78%) 9%,
    hsl(127deg 65% 76%) 18%,
    hsl(138deg 62% 72%) 27%,
    hsl(146deg 60% 69%) 36%,
    hsl(153deg 58% 66%) 45%,
    hsl(159deg 56% 63%) 55%,
    hsl(164deg 54% 60%) 64%,
    hsl(168deg 52% 57%) 73%,
    hsl(172deg 50% 54%) 82%,
    hsl(175deg 48% 52%) 91%,
    hsl(178deg 45% 50%) 100%
  );
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  color: #445E5B;
}

main {
  width: 94%;
  margin: auto;
  margin-top: 3%;
  background-color: #FDFFFC;
  border-radius: 0.5rem;
  padding:0 2rem 2rem 2rem;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-weight: 700;

}

.search-container{
  display: flex;
}

.input {
  padding: 10px;
  margin-right: 10px;
  margin-top: 1rem;
  border-radius: 50px;
  border: 1px solid #445e5b1a;
  width: 10rem;
  background-image: url("./img/Magnifying_glass_icon.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: #E5F0E0;
  color: #445E5B;
  font-weight: 700;
}
input[type="search"] {
  padding-left: 2rem;
}
input[type="search"]:focus {
  outline: none;

}
input[type="search"]::placeholder {
  font-weight: 400;
  color: #445E5B;
}

.button {
  padding: 10px 20px;
  margin-top: 1rem;
  background-color: #445E5B;
  color: white;
  border-radius: 50px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.reload {
  margin-top: 1rem;
  margin-left: 10px;
  width: 1.5rem;
  color: #39f;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 20px;
}

.logo {
  width: 30%;
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.poke-container {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.poke {
  background-position: center center;
  background-size: cover;
  padding:2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 0.5rem;
  position: relative;
}
.poke-card {
  background: #fff !important;
  position: absolute;
  width: 95%;
  height: 52%;
  border-radius: 0.5rem;
  z-index: 2;
  bottom: 0.4rem;
}
.poke h2 {
  font-size: 1.3rem;
  margin-top: 0.4rem;
  font-weight: 700;
  z-index: 3;
}
.id-poke {
  position: absolute;
  top: 1rem;
  font-size: 1.8rem;
  color: #ffffff;
  z-index: 1;
}

.poke img {
  width: 150px;
  z-index: 3;
}
.poke .exp {
  font-size: .6rem;
  font-weight: 800;
  z-index: 3;
}
.poke-info {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0.3rem;
}
.poke-info .info {
  font-weight: 800;
  z-index: 3;
  text-align: center;
}
.tipo-icon {
  width: 20px !important;
}
.border-r{
  padding-right: 0.3rem;
  border-right: solid 0.1rem rgba(0, 0, 0, 0.16);
}
.border-l{
  padding-left: 0.3rem;
  border-left: solid 0.1rem rgba(0, 0, 0, 0.16);
}

.border-t{
  border-top: solid 0.1rem rgba(0, 0, 0, 0.16);
  z-index: 3;
  width: 100%;
}
.sub {
  font-size: 0.6rem;
  font-weight: 800;
  color: #999EA1;
}

.poke .info-adicional {
  z-index: 3;
  font-weight: 700;
  margin-top: 0.5rem;
}
.pokeball {
  height: 48px;
  animation: rotate-center 0.5s linear 0s infinite normal none;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

footer {
  width: 94%;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #FDFFFC;
  border-radius: 0.5rem;
}
footer a{
  text-decoration: none;
}
footer strong {
  color: #445E5B;
}

@keyframes rotate-center {
			
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}

@media (max-width: 700px) {
  main {
    width: 90%;
  }
  .logo {
    width: 60%;
  }
  footer {
    width: 90%;
  }
}
@media (max-width: 340px) {
  .input {
    width: 8rem;
  }
}